# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Other Language for Data Science

Some of the commonly used libraries used by Data Scientists include:

* Scientific Computing Libraries in Python
* Visualization Libraries in Python
* High-Level- Machine Learning and Deep Learning Libraries
* Deep Learning Libraries in Python
* Libraries used in other languages

| No.| Data Science Tools |
| ---|--------------------|
| 1. | Jupyter Notebook   |
| 2. | R Studio           |
| 3. | Git                |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [36]:
# This will convert 200 minutes to hours by diving by 60

(200/60) # hour

3.3333333333333335

**Objectives :**
- Python
- R
- SQL
- Java
- C++

## Author
Dilla Fajar Sukma Dilaga